{%extends "layout.html"%}

{%block content%}
    <p>Username:<i>{{user.nickname}}</i></p>
    <p>Email: <a href="mailto:{{user.email}}">{{user.email}}</a></p>
    <p>Sex: {{user.sex}}</p>
    {% if current_user == None %}
        {% if current_user.get('uid') != user.uid %}
            <p>他发布的链接</p>
        {% else %}
            <p>我发布的链接</p>
        {% end %}
    {% else %}
        <p>我发布的链接</p>
    {% end %}
    <ul>
        {%if links%}
            {% for link in links %}
            <li><a href="/link/{{link.lid}}">{{link.title}}</a> ({{link.url}})</li>
            {%end%}
        {% else %}
            暂无
        {%end%}
    </ul>
    {% if current_user == None %}
        {% if current_user.get('uid') != user.uid %}
            <p>他的收藏夹</p>
        {% else %}
            <p>我的收藏夹</p>
        {% end %}
    {% else %}
        <p>我的收藏夹</p>
    {% end %}
    <ul>
        {% if user.favourites() %}
            {% for fav in user.favourites() %}
                <a href="/favourite/{{fav.fid}}">{{fav.name}}</a><br />
            {% end %}
        {% else %}
        暂无
        {%end%}
        <hr />
        <div class=""><a href="/favourite/create">添加收藏夹</a></div>
    </ul>
{%end%}
