{% extends "layout.html" %}

{% block content %}
    <p><a href="{% raw link.url %}">{{ link.title }}</a>(<i>{{ link.url }}</i>)</p>
    <p>{{ ago(link.created_at) }} by <a href="/user/{{link.author.uid}}">{{link.author.nickname}}</a> | {{ link.num_comments }} comments|<a href="/user/favourite/add/{{link.lid}}">Add to favourite</a></p>
    <hr />
    {% if current_user %}
    <form action="/link/{{link.lid}}" method="POST">
        {% raw xsrf_form_html() %}
        <input type="hidden" name="parent" value="0">
        <textarea name="text" rows="6" cols="60"></textarea>
        <br />
        <br />
        <input type="submit" value="add comment">
    </form>
    {%else%}
        <a href="/login">login</a> or <a href="/register">register</a> to comment.
    {%end%}
    {% for comment in link.comments %}
        <div class="row col-md-10" style="border-bottom:1px dashed #cacaca;padding-bottom: 20px;margin-bottom: 0px;">

            <p><i><a href="/user/{{comment.author.uid}}">{{comment.author.nickname}}</a> created by {{ago(comment.created_at)}}</i></p>
            <div class="comment-content">{{comment.content}}</div>
        {% if comment.reply %}
            {% for key in comment.reply %}
                <div class="reply" style="padding-left: 30px;">
                    <a href="/user/{{key.author.uid}}">{{key.author.nickname}}</a> created at {{ago(key.created_at)}}
                    <p>{{ key.content }}</p>
                    <p><a href="/comment/{{key.cid}}/reply">Reply</a></p>

                    {% if key.reply %}
                        {% for k in key.reply %}
                        <div clas="reply" style="padding-left: 30px;">
                            <a href="/user/{{k.author.uid}}">{{k.author.nickname}}</a> created at {{ago(k.created_at)}}
                            <p>{{ k.content }}</p>
                    </div>
                        {% end %}
                    {%end%}
                </div>
            {% end %}
        {% end %}
        <div ><a href="/comment/{{comment.cid}}/reply">reply</a></div>
    </div>
    {% end %}

{% end %}
