{%extends "layout.html"%}

{%block content%}

    <a href="/link/add" class="btn btn-primary btn-lg" role="button">添加我的链接</a>

    <div class="article-list" style="height: 30px;">
        {% if len(links) %}
            {% for link in links %}
            <div class="row">
                <div class="row col-sm-12 post-container" style="border-bottom: 1px dashed #cacaca;padding-bottom: 15px;margin-left: 18px;">
                    <h4 class="post-title">up 0 down |
                        <a href="{% raw link.url %}">{{link.title}}</a>({{link.url}})</h4>
                    <div class="meta-box">
                        <span class="post-info"><a href="/user/{{link.author.uid}}">{{link.author.nickname}}</a> by：{{link.created_at}} | <a href="/link/{{link.lid}}">{{ len(link.comments) }} comments</a></span>
                    </div>
                </div>
            </div>
            {% end %}
        {% else %}
            No have
        {%end%}
    </div>

{%end%}
