{%extends "layout.html"%}

{%block content %}
    <h1>Favourite</h1>

    <div class="favourite-info">
        <div class="">收藏夹名称：{{favourite.name}}</div>
        <div class="">收藏夹创建时间：{{favourite.created_at}}</div>
        <div class="">作者：<a href="/user/{{favourite.author.uid}}">{{favourite.author.nickname}}</a></div>
    </div>
    <hr />

    {% if links %}
        {% for n,link in enumerate(links) %}

            {{n+1}} <a href="{{link.url}}">{{link.title}}</a><br />
        {% end %}
    {% else %}
        暂无
    {%end%}

{%end%}
